/* ----------App Component--------- */
@font-face {
    font-family: 'myFont';
    src: url('ComicSans.ttf');
}
#root {
  font-family: "myFont", sans-serif;
}
body {
    background-color: #F0F0F0;
}
.container{
    margin-bottom: 65px;
}

@media (min-width: 750px){
  .container{
    max-width:100%;
  }
}

@media (min-width: 970px){
  .container{
    max-width:50%;
  }
}

@media (min-width: 1170px){
  .container{
    max-width:50%;
  }
}
/* ----------Home Component--------- */
.home{
  text-align: center;
}

.home-header {
  padding: 20px;
}

.home-logo {
  width: 50%;
  margin-bottom: 20px;
}

.home-title{
  font-size: 25px;
  color:#F5A623;
  font-weight: bold;
}

.search-bar {
  margin: 20px;
  text-align: center;
}

.search-bar input {
  width: 80%;
  padding: 10px;
  border: 0px;
  border-radius: 5px;
  font-size: 17px;
}

.scroll-img{
    position: absolute;
    bottom: 50px;
    left:42%;
    right: 42%;
    -webkit-animation:bounce 2.5s infinite;
    -moz-animation: bounce 2.5s infinite;
    animation: bounce 2.5s infinite;
}
.scroll-img img{
        width:25px;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-40px);
    }
    60% {
        transform: translateY(-20px);
    }
}

.div-thumbnail{
    visibility: collapse;
    text-align: center;
}

/* ----------Thumbnail Component--------- */

.thumbnailList{
  text-align: center;
}
.thumbnailMain{
    margin-bottom: 25px;
}

.thumbnail-image{
  height: 100%;
  width: 100%;
}

.thumbnail-title{
  background-color: #FFFFFF;
  color: #333;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  padding: 5%;
  margin-bottom: 25px;
}

.quiz-type{
  text-align: left;
  border-bottom: 4px solid rgba(248,231,28,0.80);
}
.quiz-type small{
    color: #F5A623;
    font-weight: bold;
}


@media (min-width: 750px){
  .thumbnailMain{
    max-width:100%;
  }
}
@media (min-width: 970px){
  .thumbnailMain{
    max-width:70%;
    margin: auto;
  }
}
@media (min-width: 1170px){
  .thumbnailMain{
    max-width:70%;
    margin: auto;
  }
}

/* ----------QuizIntro Component--------- */
.quizIntro{
  margin-top: 10px;
  padding: 5%;
  background-color: rgba(248,231,28,0.50);
  text-align: center;
}
.divHome{
    width: 100%;
    text-align: left;
}
.page-header{
    margin-top:0px;
}
.quizTitle{
  text-align: center;
  border-bottom: 0px;
}

.quizTitle h1{
    font-size: 25px;
    font-weight: bolder;
}
.quizDescription{
  font-weight: 600;
  font-size: 17px;
  margin-bottom: 30px;
}

.question{
  font-weight: bolder;
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.question img{
  width: 100%;
  margin-bottom: 30px;
}

.answer{
  background-color: #FFFFFF;
  background-image: none;
  font-weight: 600;
  font-size: 17px;
  cursor: pointer;
}
.well:hover{
    border:1px solid #333;
}

.answer img{
  height: 75px;
}

.btnTryAgain{
    width: 160px;
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
}
.btnTryAgain span{
    position: absolute;
    left: 15px;
    top: 15px;
}
.progressBar{
    margin-top: 10px;
    width: 100%;
    text-align: center;
}
.circle {
    margin: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid #737373;
}
.active{
    background-color: #ddd;
}
.visited{
    background-color: rgba(248,231,28,1);
}

@media (min-width: 750px){
  .questionMain{
    max-width:100%;
  }
}

@media (min-width: 970px){
  .questionMain{
    max-width:75%;
    margin: auto;
  }
}

@media (min-width: 1170px){
  .questionMain{
    max-width:75%;
    margin: auto;
  }
}
